PORT=5000
MONGODB_URI=mongodb+srv://luffynumber1member_db_user:eQSQWnGuZuUQCl4m@cluster0.emhstyx.mongodb.net/data?retryWrites=true&w=majority
JWT_SECRET=luxurywatch_super_secret_jwt_key_2026
AUTHORIZED_ADMIN_GMAIL=admin@luxurywatch.com
NODE_ENV=production
